
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FirstCv</title>
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
   
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">


    
  </head>
  <body id="top">
    <header>
      <div class="profile-page sidebar-collapse">
        <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
          <div class="container">
            <div class="navbar-translate"><a class="navbar-brand" href="#" rel="tooltip">Mi CV</a>
              
            </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="page-content">
      <div>
<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
      <div class="page-header-image" data-parallax="true" style="background-image: url('static/images/imgCv/bg.jpg')"></div>
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image"><a href="#"><img src="static/images/imgCv/topIMG.jpg" alt="Image"/></a></div>
          <div class="h2 title">Rodrigo Aranzaens Olazabal</div>
          <p class="category text-white">Diseñador web , programador de videojuegos , mantenimiento base de datos.</p><a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor"> Contactame</a><a class="btn btn-primary" href= "https://docs.google.com/document/d/1j5zeFRG_qcoFBrk0mT5Fxa_A4-GjTYW3NPGtzf-lul8/export?format=pdf" data-aos="zoom-in" data-aos-anchor="data-aos-anchor"> DESCARGAR PDF⤓ </a>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container"><a class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="Follow me on Facebook"><i class="fa fa-facebook"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="Follow me on Twitter"><i class="fa fa-twitter"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="Follow me on Google+"><i class="fa fa-google-plus"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="Follow me on Instagram"><i class="fa fa-instagram"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Sobre mi</div>
            <p>Hola me llamo Rodrigo Aranzaens soy diseñador web , programador de videojuegos y hago mantenimiento a algunas bases de datos..</p>
            <p>En este CV explicare un poco sobre mi trayectoria ya que tengo una amplia experiencia en varias areas. <a href="https://virtual.ucsp.edu.pe/login/index.php" target="_blank">Learn More</a></p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Informacion Basica</div>
            <div class="row">
              <div class="col-sm-4"><strong class="text-uppercase">Edad:</strong></div>
              <div class="col-sm-8">20</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
              <div class="col-sm-8">rodrigo.aranzaens@gmail.com</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">TLF:</strong></div>
              <div class="col-sm-8">958797055</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Direccion:</strong></div>
              <div class="col-sm-8">Arequipa, Peru</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Mis idiomas:</strong></div>
              <div class="col-sm-8">Ingles , Portugues.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="h4 text-center mb-4 title">Skills</div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">HTML</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div><span class="progress-value">100%</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">C++</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div><span class="progress-value">85%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">JavaScript</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div><span class="progress-value">60%</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">SQL</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div><span class="progress-value">60%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Python</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div><span class="progress-value">75%</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Excel</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div><span class="progress-value">70%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        <div class="h4 text-center mb-4 title">Logros</div>
        <div class="nav-align-center">
          <ul class="nav nav-pills nav-pills-primary" role="tablist">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#web-development" role="tablist"><i class="fa fa-laptop" aria-hidden="true"></i></a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#graphic-design" role="tablist"><i class="fa fa-picture-o" aria-hidden="true"></i></a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Photography" role="tablist"><i class="fa fa-camera" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tab-content gallery mt-5">
      <div class="tab-pane active" id="web-development">
        <div class="ml-auto mr-auto">
          <div class="row">
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                  <figure class="cc-effect"><img src="static/images/imgCv/project-1.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Ultimo Proyecto</div>
                      <p>Diseño de pagina web</p>
                    </figcaption>
                  </figure></a></div>
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                  <figure class="cc-effect"><img src="static/images/imgCv/project-2.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Mi primer Proyecto</div>
                      <p>Diseño de pagina Web</p>
                    </figcaption>
                  </figure></a></div>
            </div>
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                  <figure class="cc-effect"><img src="static/images/imgCv/project-3.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Proyecto Videojuego</div>
                      <p>Desarrollando el juego dota 2</p>
                    </figcaption>
                  </figure></a></div>
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                  <figure class="cc-effect"><img src="static/images/imgCv/project-4.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Mantenimiento Base de Datos</div>
                      <p>Base de datos supermercado</p>
                    </figcaption>
                  </figure></a></div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
<div class="section">
  <div class="container cc-experience">
    <div class="h4 text-center mb-4 title">Experiencia Laboral</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>13 / 06 / 2014</p>
            <div class="h5">Diseño de pagina web</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Diseñador de la pagina web de la empresa Solar Representaciones S.A.C</div>
            <p>Esta empresa es de mi familia y me pidieron que ayude con el diseño de la pagina lo cual con un equipo de trabajo nos dedicamos durante unos meses a diseñar esta pagina ya que seria utilizada para que los trabajadores la usen y a la vez una pagina para los clientes.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>25 / 05 / 2015</p>
            <div class="h5">Proyecto Dota 2</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Creador de la logica de los mobs con IA</div>
            <p>Como la mayoria sabe Dota 2 cuenta con mobs en cada partida los cuales van apareciendo cada cierto tiempo en el mapa para ayudar a protege tus torres para esto se les tenia que crear una logica con la cual estos mobs sepan a donde ir y como atacar a los enemigos.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>20 / 08 / 2019</p>
            <div class="h5">Base de datos supermercado</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Mantenimiento de base de datos del supermercado makro</div>
            <p>En este caso tuve la oportunidad de trabajar con un grupo de personas en dar un mantenimiento a la base de datos de makro ya que esta estaba descuiada, antigua y con algunos errores asi que arreglamos todo eso y la volvimos mas eficiente.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Educacion</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2007 - 2009</p>
            <div class="h5">Secundaria</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Colegio Anglo Americano Prescott</div>
            <p class="category">Arequipa, Peru</p>
            <p>El Colegio Anglo Americano Prescott es un colegio ubicado en arequipa el cual estudie toda mi primaria y secundaria.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2009 - 2011</p>
            <div class="h5">Bachillerato internacional</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">IB</div>
            <p class="category">Colegio Prescott</p>
            <p>despues de acabar el colegio hice 2 años mas los cuales sirvieron para tener mi certificado IB el cual me iba a abrir puertas para poder estudiar mi carrera universitaria en otros paises y para poder conseguir becas mas facilmente.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2012 - 2017</p>
            <div class="h5">Bachiller en Ciencias de la Computacion</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Universidad del MIT</div>
            <p class="category">Massachusetts Ave, Cambridge, MA</p>
            <p>Tuve el privilegio gracias a becas conseguidas de estudiar y terminar la carrera de ciencias de la computacion en una de las mejores universidades del mundo que es el MIT donde aprendi casi todo lo que se y me ayudo a que pueda conseguir muy buenas ofertas de trabajo. </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2018 - 2021</p>
              <div class="h5">Diploma HTML</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Harvard University</div>
              <p class="category">Cambridge, Massachusetts, EE. UU.</p>
              <p>Gracias a mis estudios previos pude conseguir una besa en harvard la cual me brindaba un curso por 4 años de html el cual te iba a permitir ser un experto en paginas web. Con este diplomado logre a aprender todo lo que se de html.</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Intereses</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>fortnite</p>
            <div class="h5">Diseñador fortnite</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Diseñador sénior </div>
            <p class="category">Fortnite Creative</p>
            <p>Quiesiera desarrollar una comprensión profunda de cómo se utilizarán las herramientas del editor y del juego para crear experiencias, Diseñar e implementar las herramientas, trabajar con la administración de productos, la publicación, las relaciones con los desarrolladores y la comunidad para recopilar y considerar nuevas funciones para desarrollar.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>Super</p>
            <div class="h5">Diseñar pagina web a supermercados</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Diseñador Web</div>
            <p class="category">supermercados peruanos</p>
            <p>Me gustaria junto a un equipo de trabajo ofrecele diseños de paginas web a supermercados del peru para que asi estos se actualicen podiendo tener un lugar donde los clientes tengan la facilidad de comprar desde sus casas ya que muchos supermercados peruanos carecen de estas paginas por lo cual no es la primera opcion de una persona al decidir a que supermercado ir.</p>
          </div>
        </div>
      </div>
    </div>
    
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="reference">
  <div class="container cc-reference">
    <div class="h4 mb-4 text-center title">Referencias</div>
    <div class="card" data-aos="zoom-in">
      <div class="carousel slide" id="cc-Indicators" data-ride="carousel">
        <ol class="carousel-indicators">
          <li class="active" data-target="#cc-Indicators" data-slide-to="0"></li>
          <li data-target="#cc-Indicators" data-slide-to="1"></li>
          <li data-target="#cc-Indicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-lg-2 col-md-3 cc-reference-header"><img src="static/images/imgCv/reference-image-1.jpg" alt="Image"/>
                <div class="h5 pt-2">Mr. James</div>
                <p class="category">Gerente de Dota 2</p>
              </div>
              <div class="col-lg-10 col-md-9">
                <p>Rodrigo es una persona la cual se a metido mucho en el papel que le dimos en esta empresa ya que junto a su grupo realizaron un excelente trabajo haciendo que los mobs que ellos programaron tengan un excelente desempeño en las partidas, sin tener errores ni bugs.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section" id="contact">
  <div class="cc-contact-information" style="background-image: url('static/images/imgCv/staticmap.png')">
    <div class="container">
      <div class="cc-contact">
        <div class="row">
          <div class="col-md-9">
            <div class="card mb-0" data-aos="zoom-in">
              <div class="h4 text-center title">Contactame</div>
              <div class="row">
                <div class="col-md-6">
                  <div class="card-body">

                      <div class="p pb-3"><strong>No dudes en contactarme </strong></div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                            <input class="form-control" type="text" name="name" placeholder="NOMBRE" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-file-text"></i></span>
                            <input class="form-control" type="text" name="Subject" placeholder="ASUNTO" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input class="form-control" type="email" name="_replyto" placeholder="CORREO" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="form-group">
                            <textarea class="form-control" name="message" placeholder="MENSAJE" required="required"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <button class="btn btn-primary" type="submit">Send</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <p class="mb-0"><strong>Direccion </strong></p>
                    <p class="pb-2">Arequipa, Peru</p>
                    <p class="mb-0"><strong>TLF</strong></p>
                    <p class="pb-2">958797055</p>
                    <p class="mb-0"><strong>Email</strong></p>
                    <p>Rodrigo.aranzaens@gmail.com</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div></div>
    </div>
    <footer class="footer">
      <div class="container text-center"><a class="cc-facebook btn btn-link" href="#"><i class="fa fa-facebook fa-2x " aria-hidden="true"></i></a><a class="cc-twitter btn btn-link " href="#"><i class="fa fa-twitter fa-2x " aria-hidden="true"></i></a><a class="cc-google-plus btn btn-link" href="#"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a><a class="cc-instagram btn btn-link" href="#"><i class="fa fa-instagram fa-2x " aria-hidden="true"></i></a></div>
      <div class="h4 title text-center">Rodrigo Aranzaens Olazabal</div>
      <div class="text-center text-muted">
        <p>&copy; Tarea CV, DBP.</p>
      </div>
    </footer>
    
  </body>

</html>



<div class="d-grid gap-2">
  <a href="/logout" class="btn btn-primary" type="button" > Cerrar sitio web  </a>
  <a href ="/eleccion" class="btn btn-primary" type="button">Menu para elegir nuevo curriculum </a>
  </div>