
<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>SecondCv</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">


    <link id="theme-style" rel="stylesheet" href="{{url_for('static',filename='css/seccv.css')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">


</head> 

<body>	

    <article class="resume-wrapper text-center position-relative">
	    <div class="resume-wrapper-inner mx-auto text-start bg-white shadow-lg">
		    <header class="resume-header pt-4 pt-md-0">
			    <div class="row">
				    <div class="col-block col-md-auto resume-picture-holder text-center text-md-start">
				        <img class="picture" src="/static/images/imgcv2/seccurr.png" alt="">
				    </div>
				    <div class="col">
					    <div class="row p-4 justify-content-center justify-content-md-between">
						    <div class="primary-info col-auto">
							    <h1 class="name mt-0 mb-1 text-white text-uppercase text-uppercase">Marina Tejeda</h1>
							    <div class="title mb-3">Desarroladora Web</div>
								
							    <ul class="list-unstyled">
								    <li class="mb-2"><a class="text-link" href="#"><i class="far fa-envelope fa-fw me-2" data-fa-transform="grow-3"></i>marina.tejeda@gmail.com</a></li>
								    <li><a class="text-link" href="#"><i class="fas fa-mobile-alt fa-fw me-2" data-fa-transform="grow-6"></i>+51 953405477</a></li>
									
							    </ul>
								
						    </div>
							<div class="d-grid gap-2">
								<a href="https://docs.google.com/document/d/1lYpiWsIneNwOzmPYhkqG_R3JWNLpi25-Aku7lc0D_Pc/export?format=pdf" class="btn btn-primary" type="button" > DESCARGAR PDF ⤓ </a>
							
							</div>
					    </div>
					    
				    </div>
			    </div>
		    </header>
		    <div class="resume-body p-5">
			    <section class="resume-section summary-section mb-5">
				    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Resumen Laboral</h2>
				    <div class="resume-section-content">
					    <p class="mb-0">En mi vida considero que he tenido una amplia carrera como desarrolladora de paginas web, he tenido muchas experiencias las cuales me han enseñado un sin fin de cosas las cuales hoy en dia domino a la perfeccion. En este curriculum lo que quiero es dar a conocer el transcurso de mi carrera para asi puedan ver que tengo bastante experiencia en este rubro y cualquier trabajo que se me asigne lo podre hacer sin problemas y con mucho animo.</p>
				    </div>
			    </section>
			    <div class="row">
				    <div class="col-lg-9">
					    <section class="resume-section experience-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Experiencia Laboral</h2>
						    <div class="resume-section-content">
							    <div class="resume-timeline position-relative">
								    <article class="resume-timeline-item position-relative pb-5">
									    
									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h3 class="resume-position-title font-weight-bold mb-1">Diseño de pagina web</h3>
										        <div class="resume-company-name ms-auto">supermercado</div>
										    </div>
										    <div class="resume-position-time">2020 - Present</div>
									    </div>
									    <div class="resume-timeline-item-desc">
										    <p>Mi principal labor en este trabajo fue el diseño de la pagina web de franco ya que este supermercado no contaba con una pagina, asi que yo y un grupo de personas nos dedicamos a desarrollar la pagina web de este supermercado y mi labor principal fue el diseño de esta.</p>
										    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Logros</h4>
										    <ul>
											    <li>Manejo de gestores de contenidos como WordPress y Prestashop.</li>
											    <li>Participación en proyectos de software libre.</li>
											    <li>Apoyo técnico al ciclo completo del proyecto, desde el briefing inicial, pasando por wireframes, diseño web, maquetación, desarrollo, programación y la publicación final.</li>
											
										    </ul>
										    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Lenguajes Usados: </h4>
										    <ul class="list-inline">
									
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Python</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Css</span></li>
												<li class="list-inline-item"><span class="badge bg-secondary badge-pill">Flask</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">HTML/SASS</span></li>

										    </ul>
									    </div>

								    </article>
								    
								    <article class="resume-timeline-item position-relative pb-5">
									    
									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h3 class="resume-position-title font-weight-bold mb-1">Desarrolladora Senior de Software</h3>
										        <div class="resume-company-name ms-auto">Google</div>
										    </div>
										    <div class="resume-position-time">2016 - 2020</div>
									    </div>
									    <div class="resume-timeline-item-desc">
									
										    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Logros</h4>

											<ul>

												<li>Desarrollo de interfaz gráfica de usuario y entorno QT.</li>
												<li>Experiencia previa en programación en C y C++ y programación en tiempo real.</li>
												<li>Conocimientos sobre máquina-herramienta, mecanizado y controles numéricos.</li>
											</ul>
											
										    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Lenguajes Usados:</h4>
										    <ul class="list-inline">
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">c++</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">c</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">python</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Webpack</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">HTML/SASS</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">MySQL</span></li>
										    </ul>
									    </div>

								    </article>
								    
								    <article class="resume-timeline-item position-relative pb-5">
									    
									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h3 class="resume-position-title font-weight-bold mb-1">Cofundadora y desarrolladora principal</h3>
										        <div class="resume-company-name ms-auto">Facebook</div>
										    </div>
										    <div class="resume-position-time">2012 - 2016</div>
									    </div>
									    <div class="resume-timeline-item-desc">
										    <p>Responsable de desarrollar software que cumpla cierta función, solucionando las diferentes necesidades que tenga la empresa y que requieran un método informático. Diseñar y programar sitios web y aplicaciones, ser el responsable de definir la interfaz gráfica para que resulte atractiva al usuario, generando la posibilidad de conversión o simplemente de utilización para lograr trafico. Corregir los errores que se identifiquen y dar mantenimiento a los proyectos.</p>
					
										    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Lenguajes Usados:</h4>
										    <ul class="list-inline">
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Django</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">JavaScript</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Node.js</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Require.js</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">HTML/SASS</span></li>
										    </ul>
									    </div>

								    </article>
								    
								    <article class="resume-timeline-item position-relative">
									    
									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h3 class="resume-position-title font-weight-bold mb-1">Desarrolladora Web</h3>
										        <div class="resume-company-name ms-auto">Amazon</div>
										    </div>
										    <div class="resume-position-time">2011 - 2012</div>
									    </div>
									    <div class="resume-timeline-item-desc">
										    <p>Diseñe y codifique sitios web y aplicaciones, fui la responsable de definir la interfaz gráfica para que resulte atractiva al usuario, generando la posibilidad de conversión o simplemente de utilización para lograr tráfico sujeto a rentabilidad. Trabaje sobre pruebas y soportes de aplicaciones en diferentes idiomas, manteniendo las funcionalidades de aquellas que resultan productivas, así como corrigiendo los errores que identifique.</p>
										    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Lenguajes Usados:</h4>
										    <ul class="list-inline">
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Ruby on Rails</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">jQuery</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">HTML/LESS</span></li>
											    <li class="list-inline-item"><span class="badge bg-secondary badge-pill">MongoDB</span></li>
										    </ul>
									    </div>

								    </article>
								    
								    
							    </div>
							    
							    
							    
							    
							    
							    
						    </div>
					    </section>
				    </div>
				    <div class="col-lg-3">
					    <section class="resume-section skills-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Skills &amp; herramientas</h2>
						    <div class="resume-section-content">
						        <div class="resume-skill-item">
							        <h4 class="resume-skills-cat font-weight-bold">Frontend</h4>
							        <ul class="list-unstyled mb-4">
								        <li class="mb-2">
								            <div class="resume-skill-name">Angular</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 98%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
								        <li class="mb-2">
								            <div class="resume-skill-name">React</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 94%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
								        <li class="mb-2">
								            <div class="resume-skill-name">JavaScript</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 96%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
								        
								        <li class="mb-2">
								            <div class="resume-skill-name">Node.js</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 92%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
								        <li class="mb-2">
								            <div class="resume-skill-name">HTML/CSS/SASS/LESS</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 96%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
							        </ul>
						        </div>
						        
						        <div class="resume-skill-item">
						            <h4 class="resume-skills-cat font-weight-bold">Backend</h4>
							        <ul class="list-unstyled">
								        <li class="mb-2">
								            <div class="resume-skill-name">Python/Django</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 95%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
								        <li class="mb-2">
								            <div class="resume-skill-name">Ruby/Rails</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 92%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
								        <li class="mb-2">
								            <div class="resume-skill-name">PHP</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 86%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
								        <li class="mb-2">
								            <div class="resume-skill-name">WordPress/Shopify</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 82%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
							        </ul>
						        </div>
						        
						        <div class="resume-skill-item">
						            <h4 class="resume-skills-cat font-weight-bold">Otros</h4>
						            <ul class="list-inline">
							            <li class="list-inline-item"><span class="badge badge-light">DevOps</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">Code Review</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">Git</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">Unit Testing</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">Wireframing</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">Sketch</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">Balsamiq</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">WordPress</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">Shopify</span></li>
						            </ul>
						        </div>
						    </div>
					    </section>
					    <section class="resume-section education-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Educacion</h2>
						    <div class="resume-section-content">
							    <ul class="list-unstyled">
								    <li class="mb-2">
								        <div class="resume-degree font-weight-bold">MSc in Computer Science</div>
								        <div class="resume-degree-org">University College London</div>
								        <div class="resume-degree-time">2010 - 2011</div>
								    </li>
								    <li>
								        <div class="resume-degree font-weight-bold">BSc Maths and Physics</div>
								        <div class="resume-degree-org">Imperial College London</div>
								        <div class="resume-degree-time">2007 - 2010</div>
								    </li>
							    </ul>
						    </div>
					    </section>
					    <section class="resume-section reference-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Premios</h2>
						    <div class="resume-section-content">
							    <ul class="list-unstyled resume-awards-list">
								    <li class="mb-2 ps-4 position-relative">
								        <i class="resume-award-icon fas fa-trophy position-absolute" data-fa-transform="shrink-2"></i>
								        <div class="resume-award-name">Desarrolladora de año</div>
								        <div class="resume-award-desc">Gracias al arduo trbajo durante años</div>
								    </li>
								    <li class="mb-0 ps-4 position-relative">
								        <i class="resume-award-icon fas fa-trophy position-absolute" data-fa-transform="shrink-2"></i>
								        <div class="resume-award-name">Programacion Competitiva</div>
								        <div class="resume-award-desc">Premio obtenido en el cncurso de USA 2017.</div>
								    </li>
							    </ul>
						    </div>
					    </section>
					    <section class="resume-section language-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Idiomas</h2>
						    <div class="resume-section-content">
							    <ul class="list-unstyled resume-lang-list">
								    <li class="mb-2"><span class="resume-lang-name font-weight-bold">Español</span> <small class="text-muted font-weight-normal">(Nativo)</small></li>
								    <li class="mb-2 align-middle"><span class="resume-lang-name font-weight-bold">Ingles</span> <small class="text-muted font-weight-normal">(Professional)</small></li>
								    <li><span class="resume-lang-name font-weight-bold">Portugues</span> <small class="text-muted font-weight-normal">(Professional)</small></li>
							    </ul>
						    </div>
					    </section>
					    <section class="resume-section interests-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Intereses</h2>
						    <div class="resume-section-content">
							    <ul class="list-unstyled">
								    <li class="mb-1">Muay thai</li>
								    <li class="mb-1">ski</li>
								    <li class="mb-1">Gym</li>
							    </ul>
						    </div>
					    </section>
					    
				    </div>
			    </div>
		    </div>
		    
	    </div>
    </article> 
	
	<div class="d-grid gap-2">
		<a href="/logout" class="btn btn-primary" type="button" > Cerrar sitio web  </a>
		<a href ="/eleccion" class="btn btn-primary" type="button">Menu para elegir nuevo curriculum </a>
		</div>
